@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1500px;
  margin: 0 auto;
  color: #ffffff;
}

.kpi-tile {
  background-color: #1582b8;
  color: #ffffff;
  border-radius: 5px;
  padding: 5px;
}

.form-style {
  display: block;
  text-align: center;
}

html {
  background-color: #10678f;
  font-family: "Roboto", sans-serif;
}

input[type="text"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  color: black;
}

input[type="number"] {
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  color: black;
}

button {
  background-color: #10678f;
  color: #ffffff;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
}
select {
  color: black;
  border-radius: 5px;
}
